﻿.Header {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 150px;
    text-align: left;
    width: 1000px;
    background-color: lightyellow;
    background-image: url('Images/background.png');
    bottom: 237px;
    border-color : Black;
    border-style: Solid;
    border-width: 1px;
}
.LeftPanel {
    position: absolute;
    top: 156px;
    left: 5px;
    width: 210px;
    background-color: burlywood;
    height: 500px;
    border-color: Black;
    border-style: Solid;
    border-width: 1px;
}

.RightPanel {
    position: absolute;
    top: 156px;
    left: 210px;
    height: 500px;
    width: 795px;
    background-color: lightyellow;
    border-color: Black;
    border-style: Solid;
    border-width: 1px;
    font-size:large;
}

.MenuPosition {
    position: absolute;
    top: 0px;
    left: 205px;
    height: 150px;
    text-align: left;
    font-family: Verdana;
    font-size: large;
    font-weight:bold;
}
 
